.app{
  width: 90vw;
  height: 92vh;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 2rem;
  overflow-y: scroll;
}

.title{
  color: rgb(232, 5, 5);
  text-align: center;
}

.todo-list{
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
}
